*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #D9D9D9;
}
.container{
    width: 100%;
    max-width: 640px;
    height: 100%;
    background-color:#F8FAFC;
    padding: 2.2em;
    margin: 0 auto;
}
h1{
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
}
.separator{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}
.project:hover{
    transform: scale(1.1)
}
.info-pic{
    border-radius: 10px;
}
.desc{
    line-height: 1.6;
}
h3{
    font-size: 1.25rem;
    font-weight: 600;
}
.date{
    margin:20px 0;
    font-size: 0.875rem;
    color:#4d5562 ;
}
@media (min-width:1024px){
    .container{
        width: 100%;
        min-width: 1024px;
        padding: 3em 9em;
    }
}
@media (min-width:1280px){
    .container{
        width: 100%;
        max-width: 1280px;
        padding:  3em 15em;
    }
}
